---
---

//@import "{{ site.theme }}";
@import url('https://fonts.googleapis.com/css?family=Roboto:500,700,900&display=swap');
:root, [data-theme="default"] {
  --main-color: #000000;
  --lighter-color: #333333;
}
html, body {
    width: 100vw;
    max-width: 100%;
}
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.4;
    letter-spacing: 0.04rem;
    font-weight: 400;

    h1,h2,h3,h4,h5,h6 {
        font-family: 'Roboto', sans-serif;
    }
        .wrapper {
            display: grid;
            width: 100vw;
            height: auto;
            min-height: 100vh;
            justify-content: center;
            align-content: center;
            grid-template-columns: 1fr;
            grid-template-rows: minmax(2rem, auto) minmax(4rem, 1fr) minmax(1rem, auto);
            grid-template-areas:
                "head"
                "main"
                "footer";
            justify-items: center;
            align-items: center;
            margin: 0 auto;
            max-width: 90%;
            @media (min-width: 1030px) {
                max-width: 55%;
            }
            header {
                grid-area: head;
                padding: 1rem 0rem;
                .logo {
                    display: block;
                    margin: 0 auto;
                    padding-bottom: 1rem;
                    @media (min-width: 768px) {
                        max-width: 8rem;
                    }
                    @media (min-width: 1030px) {
                        max-width: 10rem;
                    }
                }
            }
            section {
                grid-area: main;
                align-self: flex-start;
            }
            footer {
                grid-area: footer;
            }
        }
    a {
        color: var(--main-color);
        text-decoration: none;

        &:visited{
            color: var(--main-color);
            text-decoration: none;
        }

        &:active,
        &:hover {
            color: var(--lighter-color);
            text-decoration: underline;
        }
    }
}