---
---

//@import "{{ site.theme }}";
:root, [data-theme="default"] {
  --main-color: #000000;
  --lighter-color: #333333;
}
body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
        .wrapper {
            display: grid;
            width: 100vw;
            height: 100vh;
            justify-content: center;
            align-content: center;
            grid-template-columns: 1fr;
            grid-template-rows: 20% 60% 20%;
            grid-template-areas:
                "head"
                "main"
                "footer";
            justify-items: center;
            align-items: center;
            margin: 0 auto;
            max-width: 90%;
            header {
                grid-area: head;
            }
            section {
                grid-area: main;
            }
            footer {
                grid-area: footer;
            }
        }
    a {
        color: var(--main-color);
        text-decoration: none;

        &:visited{
            color: var(--main-color);
            text-decoration: none;
        }

        &:active,
        &:hover {
            color: var(--lighter-color);
            text-decoration: underline;
        }
    }
}