---
---

//@import "{{ site.theme }}";
body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
        .wrapper {
            display: grid;
            width: 100vw;
            height: 100vh;
            justify-content: center;
            align-content: center;
            grid-template-columns: 1fr;
            grid-template-rows: 20% 60% 20%;
            grid-template-areas:
                "head"
                "main"
                "footer";
            header {
                grid-area: head;
            }
            section {
                grid-area: main;
            }
            footer {
                grid-area: footer;
            }
        }
}